{% extends 'buapp/base.html' %}
{% load static %}
{% block contant  %}


<a href="{% url 'notes' %}"></a>
    <center>
    <h1>Find All Notes</h1>
    <hr/>
    <form method="GET">
         
        <select name="branch">
            <option selected disabled=true>--Select Branch</option>
            {% for b in opbranch %}
            <option>{{b.branch}}</option>
            {% endfor %}
           
        </select>
        <select name="sem">
            <option selected disabled=true>--Select Sem</option>
            {% for s in opsem %}
            <option>{{s.sem}}</option>
            {% endfor %}
           
        </select>
        
            
        </select>
        <input type="submit" value="Search"/>
        <table border="2">
            <tr>
                <th>Branch</th>
                <th>Semester</th>
                <th>Notes Name</th>
                <th>Download</th>

            </tr>
            
            {% for result in notesresult %}
            <tr>
                <td>{{result.branch}}</td>
                <td>{{result.sem}}</td>
                <td>{{result.notes_name}}</td>
                <td><a href="{{result.notes_pdf.url}}">DownLoad</a></td>
            </tr>
            {% endfor %}
        </table>
    </form>
    </center>
{% endblock  %}
